.DS_Store
.dropbox
.project
.coverage
.pydevproject
*.code-workspace
Pipfile*.*
/.settings
/htmlcov
/build
/dist
/docs/_build
/references
/pyunigps_*
/pyunigps-*
src/pyunigps.egg*
/__pycache__
/.dbeaver
/pyunigps/__pycache__
/tests/__pycache__
*.pyc
/examples/UNIsandpit.py
/examples/temp*.*
/.pytest_cache/
pylint_report.txt
venv
output.*
